<!-- CLIENTS (Athletes + Transformations) -->
<section class="section" id="results">
  <div class="container">
    <!-- ATHLETES -->
    <div class="section__head">
      <h2>Athletes I've coached</h2>
      <a class="btn scroll-top-btn btn--ghost" href="#contact">Contact me</a>
    </div>

    <div class="gallery-scroll">
      <div class="grid gallery">
        <button
          class="tile"
          data-full="./assets/clients/image10.jpeg"
          aria-label="Open result: Client1"
        >
          <img
            src="./assets/clients/image10.jpeg"
            alt="Ondrej Duda 
"
            loading="lazy"
          />
          <span class="tile__caption">
            <span class="tile__name">Ondrej Duda </span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image9.jpeg"
          aria-label="Open result: Client2"
        >
          <img
            src="./assets/clients/image9.jpeg"
            alt="Albert Rusnak 
"
            loading="lazy"
          />
          <span class="tile__caption">
            <span class="tile__name">Albert Rusnak </span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image12.jpeg"
          aria-label="Open result: Client3"
        >
          <img
            src="./assets/clients/image12.jpeg"
            alt="Tomas Nemčík 
"
            loading="lazy"
          />
          <span class="tile__caption">
            <span class="tile__name">Tomas Nemčík </span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image7.jpeg"
          aria-label="Open result: Client4"
        >
          <img
            src="./assets/clients/image7.jpeg"
            alt="Sigvaldi Guðjónsson
"
            loading="lazy"
          />
          <span class="tile__caption">
            <span class="tile__name">Sigvaldi Guðjónsson </span>
            <span class="tile__sub">Handball</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image3.jpeg"
          aria-label="Open result: Client5"
        >
          <img
            src="./assets/clients/image3.jpeg"
            alt="⁠Per Ciljan Skjelbred
"
            loading="lazy"
          />
          <span class="tile__caption">
            <span class="tile__name">⁠Per Ciljan Skjelbred </span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image6.jpeg"
          aria-label="Open result: Client6"
        >
          <img src="./assets/clients/image6.jpeg" alt="David Duriš" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__name">David Duriš</span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image13.jpeg"
          aria-label="Open result: Client7"
        >
          <img src="./assets/clients/image13.jpeg" alt="⁠Dino Islamović" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__name">⁠Dino Islamović</span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image8.jpeg"
          aria-label="Open result: Client8"
        >
          <img src="./assets/clients/image8.jpeg" alt="Vegard Erlien" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__name">Vegard Erlien </span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image5.jpeg"
          aria-label="Open result: Client9"
        >
          <img src="./assets/clients/image5.jpeg" alt="⁠Christian Eggen Rismark" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__name">⁠Christian Eggen Rismark</span>
            <span class="tile__sub">Football</span>
          </span>
        </button>


        <button
          class="tile"
          data-full="./assets/clients/image1.jpeg"
          aria-label="Open result: Client10"
        >
          <img src="./assets/clients/image1.jpeg" alt="MARCUS MEHNERT" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__name">Marcus Mehnert</span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image0.jpeg"
          aria-label="Open result: Client11"
        >
          <img src="./assets/clients/image0.jpeg" alt="Jana Čepelová" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__name">Jana Čepelová</span>
            <span class="tile__sub">Tenis</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image2.jpeg"
          aria-label="Open result: Client12"
        >
          <img src="./assets/clients/image2.jpeg" alt="⁠Erik Tønne" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__name">⁠Erik Tønne</span>
            <span class="tile__sub">Football</span>
          </span>
        </button>

        <!-- <button
          class="tile"
          data-full="./assets/clients/image4.jpeg"
          aria-label="Open result: Client13"
        >
          <img src="./assets/clients/image4.jpeg" alt="Client13" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__name">Client13</span>
            <span class="tile__sub">Proffesion/type of training/how i helped</span>
          </span>
        </button> -->
      </div>
    </div>

    <!-- TRANSFORMATIONS -->
    <div class="section__head section__head--spaced" id="transformations">
      <h2>Transformations</h2>
      <a class="btn scroll-top-btn btn--ghost" href="#contact">Contact me</a>
    </div>

    <div class="gallery-scroll">
      <div class="grid gallery">
        <button
          class="tile"
          data-full="./assets/clients/image14.jpeg"
          aria-label="Open result: Client14"
        >
          <img src="./assets/clients/image14.jpeg" alt="Client14" loading="lazy" />
          <span class="tile__caption">
            <span class="tile_
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image15.jpeg"
          aria-label="Open result: Client15"
        >
          <img src="./assets/clients/image15.jpeg" alt="Client15" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image16.jpeg"
          aria-label="Open result: Client16"
        >
          <img src="./assets/clients/image16.jpeg" alt="Client16" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image17.jpeg"
          aria-label="Open result: Client17"
        >
          <img src="./assets/clients/image17.jpeg" alt="Client17" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image18.jpeg"
          aria-label="Open result: Client18"
        >
          <img src="./assets/clients/image18.jpeg" alt="Client18" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

        <button
          class="tile"
          data-full="./assets/clients/image19.jpg"
          aria-label="Open result: Client19"
        >
          <img src="./assets/clients/image19.jpg" alt="Client19" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

                <button
          class="tile"
          data-full="./assets/clients/image20.jpg"
          aria-label="Open result: Client20"
        >
          <img src="./assets/clients/image20.jpg" alt="Client20" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

                <button
          class="tile"
          data-full="./assets/clients/image21.jpg"
          aria-label="Open result: Client21"
        >
          <img src="./assets/clients/image21.jpg" alt="Client21" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

                <button
          class="tile"
          data-full="./assets/clients/image22.jpeg"
          aria-label="Open result: Client22"
        >
          <img src="./assets/clients/image22.jpeg" alt="Client22" loading="lazy" />
          <span class="tile__caption">
            <span class="tile__sub">Before/after</span>
          </span>
        </button>

      </div>
    </div>
  </div>
</section>
